{% extends 'base.html' %}
{% block title %} {{city.name}}{% endblock %}
{% block js%}
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=c2860f5c9b242c1ed9694d7bb304ef30"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-6" >
                    <h1 align="center"> {{city.name}}</h1>
                    <p>人口 ： {{ city.people }}</p>
                    <p> {{ lasttime }}</p>
                </div>
                <div class="col-sm-6">
                    <img  class="rounded" style="max-width:100%;max-height:auto;" src="../static/img/cityphoto/Shanghai.jpeg" alt="{{city.name}}">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="daodemap" style="width: 100%;height: 400px;"></div>
                <script type="text/javascript">
                    var map = new AMap.Map('daodemap', {
                       resizeEnable: true,
                       center:[{{city.lng}}, {{city.lat}}],
                       zoom:10
                    });
                    AMap.plugin('AMap.ToolBar',function(){
                       var toolbar = new AMap.ToolBar();
                       map.addControl(toolbar)
                    })
                </script>
            </div>
            <div class="col-md-4">
                <div id="scorelist" style="width: 100%; height: 400px;"></div>
            </div>
        </div>

    </div>

    <div class="container">
    <div class="row">
{#        <div id="bmap" style="width: 100%; height: 400px;"></div>#}
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div id="youhao" style="width: 100%;height: 400px;" align="center"></div>
            <script type="text/javascript">
                var chart = echarts.init(document.getElementById("youhao"));
                options={
                    title:{
                        text: '友好程度'
                    }
                };
                chart.setOption(options);

            </script>
        </div>
        <div class="col-sm-6">
            <div id="leida" style="width: 100%; height: 400px;" align="center"></div>
                <script type="text/javascript">
                    var leida = echarts.init(document.getElementById("leida"));
                    options = {
                        {#backgroundColor: 'white',#}
                        title:{
                          text: "城市评分雷达图",
                            textStyle:{
                              width: '100%',
                                height: '30px'
                            }
                        },
                        color: ['#3D91F7', '#61BE67'],
                        tooltip: {},
                        legend: {
                            show: true,
                            icon: "circle",
                            bottom: 30,
                            center: 0,
                            itemWidth: 14,
                            itemHeight: 14,
                            itemGap: 21,
                            orient: "horizontal",
                            data: ['a', 'b'],
                            textStyle: {
                                fontSize: '70%',
                                color: '#8C8C8C'
                            },
                        },

                        radar: {
                            {#shape: 'circle',#}
                            radius:'80%',
                            triggerEvent: true,
                            name: {
                                textStyle: {
                                    color: '#000000',
                                    fontSize:'20',
                                    borderRadius: 3,
                                    padding: [3, 5]
                                }
                            },
                            nameGap:'2',
                            indicator: [{//[4300, 10000, 28000, 35000, 50000, 19000, 21000]
                                    name: '医疗', max: 6500},
                                {name: '交通', max: 16000},
                                {name: '教育', max: 30000 },
                                {name: '环境', max: 38000},
                                {name: '工作机会',max: 52000},
                                {name: '生活成本', max: 25000},
                            ],
                            splitArea: {
                                areaStyle: {
                                     color: [
                                             'rgba(222,134,85, 0.1)', 'rgba(222,134,85, 0.2)',
                                             'rgba(222,134,85, 0.4)', 'rgba(222,134,85, 0.6)',
                                             'rgba(222,134,85, 0.8)', 'rgba(222,134,85, 1)'
                                         ].reverse()
                                }
                            },
                            axisLabel:{//展示刻度
                                show: true
                            },
                            axisLine: { //指向外圈文本的分隔线样式
                                lineStyle: {
                                    color: 'rgba(0,0,0,0)'
                                }
                            },
                            splitLine: {
                                lineStyle: {
                                    width:2,
                                    color: [
                                        'rgba(224,134,82, 0.1)', 'rgba(224,134,82, 0.2)',
                                        'rgba(224,134,82, 0.4)', 'rgba(224,134,82, 0.6)',
                                        'rgba(224,134,82, 0.8)', 'rgba(224,134,82, 1)'
                                    ].reverse()
                                }
                            },

                        },

                        series: [{
                            name: '一级权重分析',
                            type: 'radar',
                            //areaStyle: {normal: {}},
                            areaStyle: {
                                normal: {
                                    color: 'rgba(252,211,3, 0.3)'
                                }
                            },
                            symbolSize: 0,
                            lineStyle: {
                                normal: {
                                    color: 'rgba(252,211,3, 1)',
                                    width: 1
                                }
                            },
                            data: [{
                                    value: [4300, 10000, 28000, 35000, 50000, 19000],
                                    name: '因素',



                                }
                            ]
                        }]
                    };
                    leida.setOption(options);
                </script>
        </div>
    </div>
    </div>
    </div>

        <br>
        <div id="bar" style="width:1000px; height:600px;"></div>
        <script>
        $(
                function () {
                    var chart = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});
                    $.ajax({
                        type: "GET",
                        url: "../city/bar",
                        dataType: 'json',
                        success: function (result) {
                            chart.setOption(result.data);
                        }
                    });
                }
            )
        </script>
    </div>
    <br>
    <div class="container-fluid">
        <div id="map" style="width: 600px; height: 400px;"></div>
        <script type="text/javascript">
            var map = echarts.init(document.getElementById('map'),{renderer:'svg'});
            options = {
                geo: {
                            map: 'china',
                            roam: true,
                            label: {
                                normal: {
                                    show: true,
                                    textStyle: {
                                        color: 'rgba(0,0,0,0.4)'
                                    }
                                }
                            },
                            itemStyle: {
                                normal:{
                                    borderColor: 'rgba(10, 21, 21, 8)'
                                },
                                emphasis:{
                                    color: '#fff' ,
                                    areaColor: '#fff',
                                    shadowOffsetX: 0,
                                    shadowOffsetY: 0,
                                    shadowBlur: 20,
                                    borderWidth: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
            };
            map.setOption(options);
        </script>
    </div>
<div class="container-fluid">
</div>
        <script type="text/javascript">
            var score = echarts.init(document.getElementById("scorelist"));
            var options = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };
            score.setOption(options);

        </script>
<div id="geo" class="container-fluid" style="width: 600px;height: 400px;"></div>
    <script type="text/javascript">
        $.get('/static/chinaMapJsonData/csj.json',function (geojson) {
            echarts.registerMap('zj',geojson);
            var chart = echarts.init(document.getElementById('geo'));
            chart.setOption({
                series: [{
                    type: 'map',
                    mapType: 'zj',
                    label:{
                        show: true
                    }
                }]
            });
        });
    </script>


{% endblock %}